# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Model files
models/
saved_models/

# Data files
data/

# Evaluation outputs
*.png
# Ignore only evaluation outputs
model_*.txt

# Allow runtime file
!runtime.txt

# OS files
.DS_Store
Thumbs.db
test_api.py
