# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Model files

saved_models/

# Ignore only root data folder
/data/

# DO NOT ignore src data
!src/data/

# Evaluation outputs
*.png
# Ignore only evaluation outputs
model_*.txt

# Allow runtime file
!runtime.txt

# OS files
.DS_Store
Thumbs.db
test_api.py
